extends layout

block content
    aside#fh5co-hero.js-fullheight
        .flexslider.js-fullheight
            ul.slides
                li(style="background-image: url(#{sliderBackgroundImage});")
                    .overlay-gradient
                    .container
                        .col-md-10.col-md-offset-1.text-center.js-fullheight.slider-text
                            .slider-text-inner
                                h2= name
    .fh5co-services.animate-box
        .container
            .row
                .col-md-8.col-md-offset-2.text-center.fh5co-heading
                    h2= name
                    img.img-responsive(src="#{featuredImage}", alt="Free HTML5 Templates")
                .col-md-8.col-md-offset-2.fh5co-heading
                    p= description
                    h3
                        em= priceRange
    include templates/call-to-action