extends layout

block content
  aside#fh5co-hero.js-fullheight
    .flexslider.js-fullheight
      ul.slides
        li(style=`background-image: url(${sliderBackgroundImage})`)
          .overlay-gradient
          .container
            .col-md-10.col-md-offset-1.text-center.js-fullheight.slider-text
              .slider-text-inner
                h2 Welcome to one of our expertise
                h3= name
  .fh5co-services.animate-box
    .container
      .row
        .col-md-4
          .nav-tabs-dropdown
            h3 Services Offered:
            ul#nav-tabs-wrapper.nav.nav-tabs.nav-pills.nav-stacked.wells
              li
                a(href="/services/1") PC Repair & Diagnostic
              li
                a(href="/services/2") Hard Disk Restoration
              li
                a(href="/services/3") Cartridge Replacement
              li
                a(href="/services/4") Smartphone Setup & Repair
              li
                a(href="/services/5") PC Increase Speed
              li
                a(href="/services/6") Network Service
        .col-md-8.fh5co-heading
            img.img-responsive(src=`${featuredImage}`, alt="services")
            h2= name
            p= description
            h3
              | Price: &nbsp;
              em= priceRange
  include templates/call-to-action